@font-face
	font-family: 'Courier-new'
	src: url('../fonts/cour.ttf') format('truetype')
*
	margin: 0
	padding: 0
body
	font-family: OpenSans, sans-serif
	min-width: 320px
	background: url(../img/bg-image.png) center
	font-family: 'PT Sans', sans-serif
.wrapper
	width: 770px
	margin: 0 auto
.header__logos
	display: flex
	justify-content: space-between
	margin: 45px 0 0
	img
		align-self: center
	.print
		margin-right: -64px
.header__head
	display: flex
	justify-content: center
	margin-bottom: 40px
.form-group
	display: flex
	justify-content: space-between
	margin-bottom: 22px
	align-items: flex-end
.brown-text
	color: #2f1b15
label
	font-size: 22.4px
	font-weight: bold
	margin-right: 5px
input[type=text]
	background: none
	border: none
	border-bottom: 2px solid #3f231b
	font-family: 'Courier-new', sans-serif
	font-size: 30px
	padding-bottom: 8px
	padding-left: 14px
	coolor: #231f20
	outline: none
input[type=text].form-group__year
	width: 603px
input[type=text].form-group__name
	width: 612px
input[type=text].form-group__place
	width: 565px
input[type=text].form-group__skype
	width: 677px
input[type=text].form-group__email
	width: 678px
span.headspan
	font-weight: bold
	font-size: 24px
	margin-bottom: 27px
	margin-top: 41px
	display: block
p
	margin: 16px 0
	color: #3d3d3d
	font-size: 15px
	font-weight: 400
.js-range
	width: 100%
.checbox-group
	margin-top: 64px
	.checkbox-group__box
		display: flex
		flex-wrap: wrap
	.checkbox-group__boxes
		width: 33%
		display: inline-block
		padding: 12px 0
		label
			font-weight: 800
			font-size: 21px
			color: #000000
		input[type="checkbox"]:checked, input[type="checkbox"]:not(:checked) 
    		position: absolute
    		left: -9999px
		input[type="checkbox"]:checked + label, input[type="checkbox"]:not(:checked) + label
			position: relative
			display: inline-block
			position: relative
			padding-left: 28px
			line-height: 20px
			cursor: pointer
		input[type="checkbox"]:checked + label:before, input[type="checkbox"]:not(:checked) + label:before
    		content: ""
    		position: absolute
    		left: 0px
    		top: 0px
    		width: 18px
    		height: 18px
    		background: url('../img/sqr.png') center no-repeat
		input[type="checkbox"]:checked + label:after, input[type="checkbox"]:not(:checked) + label:after
			background: url(../img/yes.png) left no-repeat
			width: 25px
			height: 25px
			left: 1px
			top: -9px
		input[type="checkbox"]:checked + label:after, input[type="checkbox"]:not(:checked) + label:after
			content: ""
			position: absolute
			transition: all 0.2s ease
		input[type="checkbox"]:not(:checked) + label:after
    		opacity: 0
		input[type="checkbox"]:checked + label:after
    		opacity: 1
textarea.aboutme
	width: 100%
	border: none
	background: url(../img/lines.png) 0px 28px
	font-size: 30px
	line-height: 64px
	font-family: 'Courier-new', sans-serif
	padding-left: 10px
	resize: none
	outline: none
.slider__wrapper
	background: url('../img/slider.png') no-repeat
	height: 100px
	background-size: contain
	font-weight: 700
	transition: 0.5s all
	position: relative
	background-position-y: -9px
	margin-top: 25px 
	.slider-dot
		position: absolute
		top: 0
		left: -2px
	.slider__wrapper-links
		padding-top: 8px
		a
			text-decoration: none
			display: inline-block
			padding: 40px 0
			vertical-align: top
			font-size: 13px
		.bad-link
			width: 149px
		.small-link
			width: 222px
		.good-link
			width: 215px
		.god-link
			float: right
.radio-group
		input[type="radio"]:checked, input[type="radio"]:not(:checked) 
    		position: absolute
    		left: -9999px
		input[type="radio"]:checked + label, input[type="radio"]:not(:checked) + label
			position: relative
			display: inline-block
			position: relative
			padding-left: 32px
			line-height: 20px
			cursor: pointer
			margin-right: 20px
		input[type="radio"]:checked + label:before, input[type="radio"]:not(:checked) + label:before
    		content: ""
    		position: absolute
    		left: 0px
    		top: 0px
    		width: 28px
    		height: 28px
    		background: url('../img/radio.png') center no-repeat
		input[type="radio"]:checked + label:after, input[type="radio"]:not(:checked) + label:after
			background: url(../img/radio-dot.png) left no-repeat
			width: 25px
			height: 25px
			left: 2px
			top: 5px
		input[type="radio"]:checked + label:after, input[type="radio"]:not(:checked) + label:after
			content: ""
			position: absolute
			transition: all 0.2s ease
		input[type="radio"]:not(:checked) + label:after
    		opacity: 0
		input[type="radio"]:checked + label:after
    		opacity: 1
.date
	margin-top: 78px
	.form-group
		justify-content: flex-start
	input[type=text]
		width: 207px
